
<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Martin Lebenslauf</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Oxygen"
            rel="stylesheet"
            type="text/css"
    />
    <style type="text/css">
        * {
            font-family: "Oxygen", sans-serif;
        }

        body {
            margin: 40px auto;
            max-width: 650px;
            line-height: 1.7;
            font-size: 14px;
            color: #444;
            padding: 0 10px;
        }

        h1,
        h2,
        h3 {
            line-height: 1.2;
        }
        h2 {
            margin-top: 25px;
        }
        h4 > small {
            margin-left: 10px;
        }
    </style>
</head>
<body>
</body>
<footer>
    <p id="imprint">Based on Raphaël Huchets <a href="https://www.raph.site/">raph.site</a></p>
</footer>
</html>